<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <script src="https://unpkg.com/vue"></script>
  <title>VueAdmin</title>
</head>
<body>

  <iframe src="" frameborder="0"></iframe>
  <!-- <div id="app"> 
    <input type="text" v-model="newPageName">
    <button v-on:click="createPage">Создать страницу</button>
    <div v-for="(page, index) in pageList">
      <h1> {{ index + 1 }} - {{ page }} - <a href="#" v-on:click="deletePage(page)">(X)</a></h1>
    </div>
  </div>   -->
<div id="app"> 
  <div class="panel">
    <button class="uk-button uk-button-primary" uk-toggle="target: #modal-save">Опублтковать</button>
  </div>
  
  <div id="modal-save" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
      <h2 class="uk-modal-title">Сохранение</h2>
      <p>Вы действительно хотите сохранить и опубликовать?</p>
      <p class="uk-text-right">
          <button class="uk-button uk-button-default uk-modal-close" type="button">НЕТ</button>
          <button class="uk-button uk-button-primary uk-modal-close" type="button" @click="onBtnSave">ДА</button>
      </p>
    </div>
  </div>

  <div class="loader" v-bind:class="{ 'active': showLoader }">
    <span uk-spinner="ratio: 4.5"></span>
  </div>
</div>  


  <script src="bandl.js"></script>
</body>
</html>